
.section.row.entries.bg-primary.section-no-margin-bottom
	.col-lg-6.col-xl-5
		.row
			%article.entry.style-grid.style-hero.hero-md-largest.type-post.col-md-8.col-lg-12.colheight-sm-1.colheight-md-2.colheight-lg-2.colheight-xl-2
				.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
					%a{ href: '#' }
						Howdy
				%header.entry-header
					%h3.entry-title
						Welcome to Swell Media
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://www.menshealth.com/sites/menshealth.com/files/sprint-exercise.jpg', style: 'opacity:0.66' }
			%article.entry.style-grid.style-hero.type-post.col-md-4.col-lg-6.colheight-sm-1
				.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
					%a{ href: '#' }
						Recipes
				%header.entry-header
					%h3.entry-title
						Something Else
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://www.simplyrecipes.com/wp-content/uploads/2009/06/easy-grilled-salmon-method-600-2.jpg', style: 'opacity:0.66' }
			%article.entry.style-grid.style-hero.type-post.col-md-4.col-lg-6.colheight-sm-1
				%header.entry-header
					%h3.entry-title
						Another One
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://www.menshealth.com/sites/menshealth.com/files/sprint-exercise.jpg', style: 'opacity:0.66' }

	.col-lg-6.col-xl-7
		.row
			%article.entry.style-grid.style-hero.type-post.col-md-4.col-lg-6.colheight-sm-1
				.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
					%a{ href: '#' }
						Recipes
				%header.entry-header
					%h3.entry-title
						Yummy
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://www.simplyrecipes.com/wp-content/uploads/2009/06/easy-grilled-salmon-method-600-2.jpg', style: 'opacity:0.66' }
			%article.entry.style-grid.style-hero.type-post.col-md-4.col-lg-6.colheight-sm-1
				.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
					%a{ href: '#' }
						Blah
				%header.entry-header
					%h3.entry-title
						Humbug
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://www.simplyrecipes.com/wp-content/uploads/2009/06/easy-grilled-salmon-method-600-2.jpg', style: 'opacity:0.66' }
			%article.entry.style-grid.style-hero.type-post.col-md-4.col-lg-6.colheight-sm-1
				.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
					%a{ href: '#' }
						Bodyweight
				%header.entry-header
					%h3.entry-title
						Ouch
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://img.aws.livestrongcdn.com/ls-article-image-640/cme/photography.prod.demandstudios.com/52febb0b-8b64-4e1d-b644-875d45b39095.jpg', style: 'opacity:0.66' }

			%article.entry.style-grid.style-hero.type-post.col-md-6.col-lg-6.colheight-sm-1
				.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
					%a{ href: '#' }
						Two Col
				%header.entry-header
					%h3.entry-title
						Duo
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://www.simplyrecipes.com/wp-content/uploads/2009/06/easy-grilled-salmon-method-600-2.jpg', style: 'opacity:0.66' }
			%article.entry.style-grid.style-hero.type-post.col-md-6.col-lg-6.colheight-sm-1
				.ribbon.ribbon-pulled.ribbon-small.ribbon-highlight
					%a{ href: '#' }
						Two Col
				%header.entry-header
					%h3.entry-title
						Another
				%figure.entry-thumbnail
					%a.overlay.overlay-primary{ href: '#' }
						%img{ src: 'http://www.simplyrecipes.com/wp-content/uploads/2009/06/easy-grilled-salmon-method-600-2.jpg', style: 'opacity:0.66' }

#content.content.section.row
	.col-md-9.col-lg-9
		.row
			.col-md-4.col-lg-4.md-pull-right
				%aside.widget
					%h2.widget-title.ribbon.ribbon-focus
						%a{ href: '#' }
							%span Categoires
					.entries.row
						%article.type-post.style-media-list.media.col-sm-6.col-md-12
							%img.media-object.pull-left{ src: 'http://www.runningforbeginners.com/wp-content/uploads/2012/06/gravel_road.jpg', width: 80, height: 80 }
							.media-body
								.entry-title
									Something just in case you wanna blab on about it
								.entry-meta
									Metadata
						%article.type-post.style-media-list.media.col-sm-6.col-md-12
							%img.media-object.pull-left{ src: 'http://www.runningforbeginners.com/wp-content/uploads/2012/06/gravel_road.jpg', width: 80, height: 80 }
							.media-body
								.entry-title
									Running
								.entry-meta
									Something
						%article.type-post.style-media-list.media.col-sm-6.col-md-12
							%img.media-object.pull-left{ src: 'http://www.runningforbeginners.com/wp-content/uploads/2012/06/gravel_road.jpg', width: 80, height: 80 }
							.media-body
								.entry-title
									Running
								.entry-meta
									Something
						%article.type-post.style-media-list.media.col-sm-6.col-md-12
							%img.media-object.pull-left{ src: 'http://www.runningforbeginners.com/wp-content/uploads/2012/06/gravel_road.jpg', width: 80, height: 80 }
							.media-body
								.entry-title
									Running
								.entry-meta
									Something
						%article.type-post.style-media-list.media.col-sm-6.col-md-12
							%img.media-object.pull-left{ src: 'http://www.runningforbeginners.com/wp-content/uploads/2012/06/gravel_road.jpg', width: 80, height: 80 }
							.media-body
								.entry-title
									Running
								.entry-meta
									Something

			.bg-base.col-md-8.col-lg-8
				%h2.section-title.ribbon.ribbon-highlight
					%span
						Trending
				.entries
					%article.entry.style-large.type-post
						%figure.entry-thumbnail.hidden-xs
							%a{ href: '#' }
								%img{ src: 'http://triathlon.competitor.com/wp-content/uploads/2012/06/capetown-em-hr-msj-013_resize-632x421.jpg' }
						%header.entry-header
							%h3.entry-title
								%a{ href: '#' }
									This is an awesome post. You Must Read it.
							.entry-meta
								%span.author
									%a{ href: '#' }
										by Bob
								%span.date
									on September 25 2016
								%span.category
									In
									%a{ href: '#' }
										mediations
						%p
							Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet.

	.sidebar.col-md-3.col-lg-3
		%aside.widget
			%h2.widget-title.ribbon
				%a{ href: '#' }
					An Ad?






						





